html, body, div, ul, li {
  padding: 0;
  margin: 0;
  border: 0;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1080px;
  margin: auto;
}

main > div {
  display: flex;
  text-align: center;
  justify-content: center;
}

body {
  font-family: 'Share Tech Mono', monospace;
}

h1 {
  font-size: 10vmin;
  text-align: center;
}

h3 {
  font-size: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  width: 90px;
  height: 180px;
  background-color: white;
  border: 5px solid black;
  font-size: 25px;
}

.track {
  display: block;
  width: 100px;
  height: 120px;
  background-color: white;
  margin: 5px;
  border: 5px solid black;
  font-size: 20px;
}

.pressed {
  background-color: black;
  color: white;
}

.recorder-title {
  font-size: 30px;
}

button {
    background-color: #51e228; /* Green */
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}

button:disabled {
  background-color: #299e09;
}
